*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.content{
    margin: 0 auto;
    width: 650px;
    border: 1px solid black;
    line-height: 30px;
}
h3{
    display: flex;
    justify-content: center;
    background-color: #5550FA;
    padding: 20px;
}
